.logo{
    display: flex;
}
.logoviral{
    display: flex;
    justify-content: space-between;
}
.logoviral div{
    display: flex;
}
.archiveslink, .logoviral div p{
    margin: auto 10px;
    text-decoration: none;
    color: #FF0000;
    opacity: 0.6;
    font-family: "MonumentExtended-Thin", "serif";
    font-size: 30px;
    text-transform: uppercase;
}
.archiveslink:hover{
    opacity: 1;
}
.logoviral div p{
    opacity: 1;
    text-decoration: underline;
}
.logoviral div p:hover{
    cursor: pointer;
}
.cutsections{
    display: flex;
}
.cutsections section {
    width: 50%;
}
.description{
    display: flex;
}
.description h2{
    margin: auto 10% auto 10%;
    justify-content: center;
    color: #FF0000;
    font-family: "MonumentExtended-Thin", "serif";
}
.portrait img {
    width: 100%
}
.portrait{
    margin: auto;
    border: solid 3px #FF0000;
    border-radius: 10%;
    max-height:50%;
    max-width: 50%;
    overflow: hidden;
}
.informations{
    padding: 20px 0 20px 0;
    margin: auto;
    margin-top: 5%;
    border: solid 3px #FF0000;
    border-radius: 10% 0 10% 0;
    width: 70%;
}
.informations h2{
    margin: 0 0 0 50px;
    color: white;
    font-family: "MonumentExtended-Thin", "serif";
}
.darkmode{
    background-color: #252525;
}

/**/
.subject_list{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.listsubject{
    margin: 3%;
    display: flex;
    flex-direction: row;
    width: 20%;
}
.listsubject img{
    width: 100px;
    border-radius: 50%;
}
.listsubject div{
    margin: auto;
    text-align: center;
}
.listsubject div a{
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: "MonumentExtended-Thin", "serif";
    font-size: 30px;
}
.listsubject div p{
    color: #FF0000;
    opacity: 0.6;
}

/**/
.imgbody{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url('../img/bggame.svg');
    background-repeat: no-repeat;
}
.imgbody2{
    width: 100%;
    height: 100vh;
    background-image: url('../img/bggame.svg');
    background-repeat: no-repeat;
}
.logo .h1{
    text-transform: uppercase;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    width: 60%;
}
.button h3{
    font-family: "MonumentExtended-Thin", "serif";
    margin: auto 5% auto 5%;
    color: white;
    text-transform: uppercase
}
.transition{
   height: 10vh;
   width:100%;
   background-color: #48ACF0;
}
.transition marquee {
    background-clip: border-box;
    -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
    
  color: #48ACF0;
}
.transition marquee b {
    font-family: "MonumentExtended-Thin", "serif";
    font-size: 80px;
    text-transform: uppercase;
}