@import "fonts.css";
@import "home.css";
@import "archive_list.css";
@import "archive_single.css";
@import "layout.css";
@import "login.css";
*{
    font-family:'MonumentExtended-Thin', serif ;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
}