{% extends 'base.html' %}
{% load static %}
{% block title %}Archive{% endblock %}
{% block body %}

<body class="darkmode">
  {% endblock %}
  {% block header %}
  <header>
    <nav>
      <div class="logoviral">
        <img src="{% static 'img/logoviral.svg' %}" alt="logoviral">
        <a href="{% url 'home' %}">Archives</a>
      </div>
    </nav>
  </header>
  {% endblock %}
  {% block single %}
  <div class="cutsections">
    <section>

    </section>
    <section>
      <img src="{% static 'img/subjects_images' %}{{ subject.id - 1 }}" alt="empty portrait">
      <h2>
        Prénom: {{ subject.first_name }}
      </h2>
      <h2>
        Nom: {{ subject.name }}
      </h2>

      <h2>
        Matricule: {{ subject.matricule }} -Id {{ subject.id }}
      </h2>
      <h2>
        Description: {{ subject.description }}
      </h2>
      <h2>
        State: {% if subject.is_dead %}
        Mort
        {% else %}
        Vivant
        {% endif %}
      </h2>
    </section>
  </div>


  {% endblock %}
