{% extends 'base.html' %}
{% load static %}
{% block title %}Archive{% endblock %}
{% block body %}

<body class="darkmode">
  {% endblock %}
  {% block header %}
  <header>
    <nav>
      <div class="logoviral">
        <img src="{% static 'img/logoviral.svg' %}" alt="logoviral">
        <div>
          <a class="archiveslink" href="{% url 'home' %}">>Archives</a>
          <p>>{{ subject.matricule }}</p>
        </div>
        
      </div>
    </nav>
  </header>
  {% endblock %}
  {% block single %}
  <div class="cutsections">
    <section class="description">
      <h2>
        {{ subject.description }}
      </h2>
    </section>
    <section>
      <div class="portrait">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" alt="empty portrait">
      </div>
      <div class="informations">
        <h2>
          >Matricule: {{ subject.matricule }}
        </h2>
        <h2>
          >Nom: {{ subject.name }}
        </h2>
        <h2>
          >Prénom: {{ subject.first_name }}
        </h2>
        <h2>
          >Virus: #
        </h2>
        <h2>
          >Vaccin utilisé: #
        </h2>
        <h2>
          >State: {% if subject.is_dead %}
          Mort
          {% else %}
          Vivant
          {% endif %}
        </h2>

      </div>

    </section>
  </div>


  {% endblock %}