{% extends 'base.html' %}
{% load static %}
{% block body %}
<body class="darkmode">
{% endblock %}
{% block header %}
<header>
    <nav>
        <div class="logo">
            <img src="{% static 'img/logoviral.svg' %}" alt="logoviral">
        </div>
    </nav>
</header>
{% endblock %}
{% block list %}
    <section class="subject_list">

    {% for subject in subject_list %}
        <a href="{% url 'details' pk=subject.pk %}">{{ subject.first_name }}</a>
    {% endfor %}

    </section>
{% endblock %}